body{
    font-family: 'Special Elite',cursive;
    background-color: rgb(253, 215, 166);

}

.header_div {
    background-color: rgb(250, 127, 133);
    color: black;
}

.header_div p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    background-color: white;
    color: tomato;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-size: 18px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}